.photo-grid {
  display: grid;
  justify-content: center;

  margin: 92px 48px 0;

  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
