.lead__image-wrapper {
  margin: 64px 48px 0;
}

@media screen and (max-width: 1024px) {
  .lead__image-wrapper {
    margin: 56px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-wrapper {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-wrapper {
    margin: 40px 0 0;
  }
}
