.intro {
  display: flex;

  max-width: 984px;
  margin: 95px auto 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 95px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 91px 24px 0;
  }
}
