.place {
  display: grid;
  justify-content: center;

  margin: 80px 48px 0;

  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: minmax(min-content, max-content) 460px;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    grid-template-rows: minmax(min-content, max-content) 440px;
    column-gap: 32px;
  }
}
