.header__lang-links {
  display: flex;

  margin: 46px 48px 0 0;
  padding-left: 0;

  list-style: none;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    margin-right: 24px;
  }
}
